<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Умножение матриц</a></span></li><li><span><a href="#Алгоритм-преобразования-данных" data-toc-modified-id="Алгоритм-преобразования-данных-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования данных</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span><ul class="toc-item"><li><span><a href="#Генерация-обратимой-матрицы" data-toc-modified-id="Генерация-обратимой-матрицы-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Генерация обратимой матрицы</a></span></li><li><span><a href="#Проверка-матрицы-на-обратимость" data-toc-modified-id="Проверка-матрицы-на-обратимость-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Проверка матрицы на обратимость</a></span></li><li><span><a href="#Выделение-признаков-из-датасета" data-toc-modified-id="Выделение-признаков-из-датасета-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Выделение признаков из датасета</a></span></li><li><span><a href="#Преобразование-признаков" data-toc-modified-id="Преобразование-признаков-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Преобразование признаков</a></span></li><li><span><a href="#Сравнение-признаков-до-и-после-преобразования" data-toc-modified-id="Сравнение-признаков-до-и-после-преобразования-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Сравнение признаков до и после преобразования</a></span></li><li><span><a href="#Обучение-и-проверка-линейной-регрессии-на-изначальных-признаках" data-toc-modified-id="Обучение-и-проверка-линейной-регрессии-на-изначальных-признаках-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Обучение и проверка линейной регрессии на изначальных признаках</a></span></li><li><span><a href="#Обучение-и-проверка-модели-на-изменённых-признаках" data-toc-modified-id="Обучение-и-проверка-модели-на-изменённых-признаках-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Обучение и проверка модели на изменённых признаках</a></span></li><li><span><a href="#Расшифровка-данных" data-toc-modified-id="Расшифровка-данных-4.8"><span class="toc-item-num">4.8&nbsp;&nbsp;</span>Расшифровка данных</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-4.9"><span class="toc-item-num">4.9&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Выводы" data-toc-modified-id="Выводы-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Выводы</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## Загрузка данных

In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import math
# импортируем необходимые библиотеки

In [2]:
df = pd.read_csv('/datasets/insurance.csv')
# читаем датасет

In [3]:
df.info()
# смотрим общую информацию о датасете

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 5000 entries, 0 to 4999

Data columns (total 5 columns):

 #   Column             Non-Null Count  Dtype

---  ------             --------------  -----

 0   Пол                5000 non-null   int64

 1   Возраст            5000 non-null   float64

 2   Зарплата           5000 non-null   float64

 3   Члены семьи        5000 non-null   int64

 4   Страховые выплаты  5000 non-null   int64

dtypes: float64(2), int64(3)

memory usage: 195.4 KB

In [4]:
df.head()
# выводим первые 5 строк датасета для ознакомления

   Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0    1     41.0   49600.0            1                  0
1    0     46.0   38000.0            1                  1
2    0     29.0   21000.0            0                  0
3    0     21.0   41700.0            2                  0
4    1     28.0   26100.0            0                  0

In [5]:
df.describe()
# смотрим общую информацию о данных датасета

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [6]:
df.isna().sum()
# смотрим, есть ли пропуски в датасете

Пол                  0
Возраст              0
Зарплата             0
Члены семьи          0
Страховые выплаты    0
dtype: int64

In [7]:
(df['Зарплата'] % 1).unique()
# смотрим какие есть дробные части в колонке

array([0.00000000e+00, 3.63797881e-12, 7.27595761e-12, 1.00000000e+00])

In [8]:
df['Возраст'] = np.int8(df['Возраст'])
df['Пол'] = np.int8(df['Пол'])
df['Зарплата'] = np.int32(df['Зарплата'])
df['Члены семьи'] = np.int8(df['Члены семьи'])
df['Страховые выплаты'] = np.int8(df['Страховые выплаты'])
# переводим данные в менее затратный с точки зрения памяти формат

In [9]:
df.info()
# смотрим как изменился размеры датасета

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 5000 entries, 0 to 4999

Data columns (total 5 columns):

 #   Column             Non-Null Count  Dtype

---  ------             --------------  -----

 0   Пол                5000 non-null   int8

 1   Возраст            5000 non-null   int8

 2   Зарплата           5000 non-null   int32

 3   Члены семьи        5000 non-null   int8

 4   Страховые выплаты  5000 non-null   int8

dtypes: int32(1), int8(4)

memory usage: 39.2 KB

**Изменили размер датасета в 5 раз**

In [10]:
df[['Пол', 'Возраст', 'Зарплата', 'Члены семьи']].corr()

                  Пол   Возраст  Зарплата  Члены семьи
Пол          1.000000  0.002074  0.014910    -0.008991
Возраст      0.002074  1.000000 -0.019093    -0.006692
Зарплата     0.014910 -0.019093  1.000000    -0.030296
Члены семьи -0.008991 -0.006692 -0.030296     1.000000

**Переменные практически не коррелируют между собой**

**Вывод**

Датасет открыт и изучен, проблем в нём не обнаружено, можно брать его в работу.

## Умножение матриц

**Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии?**

Для ответа на данный вопрос давайте обратимся к формуле линейной регресии.

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — обратимая матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** Качество линейной регрессии не изменится.

**Обоснование:** Для обоснования введём новую переменную, которая будет обозначать произведение признаков на обратимую матрицу.

$$
S = XP
$$

Подставим новую переменную в формулу признаков

$$
as = Sws
$$

$$
ws = (S^T S)^{-1} S^T y
$$

Подставим новый вектор весов в формулу предсказания

$$
as = S(S^T S)^{-1} S^T y
$$

Произведём обратную замену, подставив вместо новой переменной произведение признаков на обратимую матрицу, которое мы этой переменной обозначили

$$
as = XP((XP)^T (XP))^{-1} (XP)^T y
$$

Раскроем уравнение, используя правило перемножения обратных матриц

$$
as = XP\color{red}{(P^TX^TXP)^{-1}}(XP)^T y = XPP^{-1}\color{red}{(X^TX)^{-1}(P^T)^{-1}}(XP)^T y
$$

Поскольку обратимая матрица является квадратной, то произведение такой матрицы на обратную будет равно единичной матрице 
$$
PP^{-1} = E
$$

Используя это и свойство транспонированных матриц, получаем

$$
as = XE\color{red}{(X^TX)^{-1}(P^T)^{-1}}(XP)^T y = X\color{red}{(X^TX)^{-1}(P^T)^{-1}}P^TX^T y
$$

Аналогично,
$$
(P^T)^{-1}P^T = E
$$

Получаем следующее

$$
as = X\color{red}{(X^TX)^{-1}}X^Ty = Xw = a
$$

**Вывод**

Из этого следует, что при умножении матрицы признаков на обратимую матрицу, значение предсказания не меняется.

## Алгоритм преобразования данных

Для защиты данных предлагается следующий алгоритм преобразования:
1. Генерация обратимой матрицы, размерность которой равна количеству признаков, состоящей из случайных чисел.
2. Проверка на обратимость (определитель матрицы не должен равняться 0).
3. Шифрование путём перемножения матрицы признаков и обратимой матрицы, состоящей из случайных чисел.

**Обоснование**

Как мы выяснили в теоретической части, умножение матрицы признаков на обратимую матрицу не изменяет предсказание.

При этом, новая матрица признаков, которая получится после перемножения матриц, будет содержать набор чисел, которые не будут понятны стороннему наблюдателю и вряд ли могут быть им использованы.

Для реализации данной задачи мы средствами Python сгенерируем квадратную матрицу, состоящую из случайных чисел и проверим её на обратимость.

После генерации и проверки обратимой матрицы, перемножим матрицу признаков и полученную матрицу.

## Проверка алгоритма

### Генерация обратимой матрицы

In [11]:
np.random.seed(42)
# фиксируем генератор случайных чисел

In [12]:
ran_mx = np.random.randint(10, size=(4, 4))
while np.linalg.det(ran_mx) == 0:
    ran_mx = np.random.randint(10, size=(4, 4))
# генерируем квадратную матрицу, состоящую из случайных чисел и проверяем на обратимость

In [13]:
ran_mx
# смотрим на полученную матрицу

array([[6, 3, 7, 4],
       [6, 9, 2, 6],
       [7, 4, 3, 7],
       [7, 2, 5, 4]])

### Проверка матрицы на обратимость

In [14]:
np.linalg.det(ran_mx)
# вычисляем определитель матрицы

373.00000000000017

**Вывод**

Определитель матрицы не равен нулю, значит полученную матрицу можно брать в работу.

### Выделение признаков из датасета

In [15]:
features = df.drop(['Страховые выплаты'], axis=1)
features.shape
# выделяем признаки и выводим размер полученного датасета

(5000, 4)

In [16]:
target = df['Страховые выплаты']
target.shape
# выделяем целевой признак и выводим размер полученного датасета

(5000,)

**Разделим признаки на обучающие и тестовые**

In [17]:
features_train, features_test, target_train, target_test = \
train_test_split(features, target, test_size=0.25, random_state=12345)
# разделяем признаки на обучающую и тестовую выборки

In [18]:
print(features_train.shape, target_train.shape)
print(features_test.shape, target_test.shape)
# выводим размеры полученных датасетов

(3750, 4) (3750,)

(1250, 4) (1250,)

### Преобразование признаков

In [19]:
features_train_mx = pd.DataFrame(features_train.values) @ ran_mx
features_test_mx = pd.DataFrame(features_test.values) @ ran_mx
print(features_train_mx.shape, features_test_mx.shape)
# преобразовываем признаки и выводим размеры полученных датасетов на экран

(3750, 4) (1250, 4)

### Сравнение признаков до и после преобразования

In [20]:
display(features_train.head())
display(features_train_mx.head())

      Пол  Возраст  Зарплата  Члены семьи
3369    1       43     36200            1
1441    1       34     57600            0
571     0       32     41100            1
225     0       36     45100            1
2558    0       33     50600            2

        0       1       2       3
0  253671  145192  108698  253666
1  403410  230709  172875  403408
2  287899  164690  123369  287896
3  315923  180726  135377  315920
4  354412  202701  151876  354406

### Обучение и проверка линейной регрессии на изначальных признаках

In [21]:
model = LinearRegression()
model.fit(features_train, target_train)
predictions = model.predict(features_test)
print('Значение метрики r2 на изначальных признаках:', r2_score(target_test, predictions))
# обучаем и проверяем модель

Значение метрики r2 на изначальных признаках: 0.4352275684083322

### Обучение и проверка модели на изменённых признаках

In [22]:
model = LinearRegression()
model.fit(features_train_mx, target_train)
predictions = model.predict(features_test_mx)
print('Значение метрики r2 на признаках после преобразования:', r2_score(target_test, predictions))
# обучаем и проверяем модель

Значение метрики r2 на признаках после преобразования: 0.43522756840939136

### Расшифровка данных

In [23]:
features_uncr = abs(pd.DataFrame(features_train_mx @ np.linalg.inv(ran_mx)).round())
features_uncr = features_uncr.rename(columns={0: 'Пол', 1: 'Возраст', 2: 'Зарплата', 3:'Члены семьи'})
display(features_uncr.head(), features_train.head())
# расшифровыеваем зашифрованные признаки и сравниваем с оригинальными значениями

   Пол  Возраст  Зарплата  Члены семьи
0  1.0     43.0   36200.0          1.0
1  1.0     34.0   57600.0          0.0
2  0.0     32.0   41100.0          1.0
3  0.0     36.0   45100.0          1.0
4  0.0     33.0   50600.0          2.0

      Пол  Возраст  Зарплата  Члены семьи
3369    1       43     36200            1
1441    1       34     57600            0
571     0       32     41100            1
225     0       36     45100            1
2558    0       33     50600            2

Путём умножения на матрицу, обратную матрице, сгенерированной из случайных чисел, получаем первоначальные значения.

### Вывод

Значения метрик совпадают, преобразованные признаки конвертируются (расшифровываются) обратно, что говорит о правильности выбранного подхода.
Колебания значений связано с хранением дробных чисел в Python.

## Выводы

В ходе работы было выполнено:

    1. теоретически обоснована возможность изменения признаков путём умножения на обратимую матрицу без имзенения качества предсказания линейной регрессии.
    2. разработан алгоритм шифрования (преобразования) признаков.
    3. протестирован алгоритм шифрования.
    4. получены результаты, подтверждающие работоспособность алгоритма.

В бизнес-применении на основе данного исследования можно реализовать функциональность, которая будет автоматически шифровать конфиденциальные данные таким образом, чтобы это не сказывалось на возможности работать с ними и строить модели.